<div class="container-fuild">
  <h2>Training Diary</h2>
  <hr>
  <div class="row">
    <div class="form-group col-md-12">
      <p>Life changes if your body changes. You have the potential.</p>
      <p> Let's start!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
      <img class="card-img-top" src="https://moneytimes.jp/files/topics/2827_ext_01_0.jpg" alt="Card image cap" style="height: 30rem;">
        <div class="card-body">
          <h5 class="card-title">本日のトレーニングを記録する</h5>
          <p class="card-text">born to LIFT</p>
          <%= link_to "Go somewhere", "/workoutmenus/new", class: "btn btn-raised btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
      <img class="card-img-top" src="https://u.finc.com/cms/wp-content/uploads/2019/08/7c612c6d5b30b9f13a468015a385ec6d.jpg" alt="Card image cap" style="height: 30rem;">
        <div class="card-body">
          <h5 class="card-title">記録したトレーニングを確認する</h5>
          <p class="card-text">check my training</p>
          <%= link_to "Go somewhere", "/workoutmenus", class: "btn btn-raised btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>